{% extends 'register/base.html' %}

{% block title %}
    <title>Osaühingu Asutamise Vorm</title>
{% endblock title %}
{% block headerlink %}
    <li><a href="/" class="nav-link px-2 link-dark">Avaleht</a></li>
{% endblock headerlink %}
{% block content %}
    <form class="container form-horizontal" method="post" action="">
        {% csrf_token %}

        <h3>Asuta uus osaühing</h3>
        {% if kapital_error is not None %}
            {{ kapital_error }}
        {% endif %}
        <br>
        {{ osayhing_form.as_table }}
        <br>
        <h5>Lisa juriidilised isikud</h5>
        {{ jur_isik_formset.management_form }}
        {% for jur_form in jur_isik_formset %}
            <details>
                <summary>Ava jur. isiku vormi</summary>
                {{ jur_form.as_table }}
            </details>
            <br>
        {% endfor %}
        <br>
        <h5>Lisa füüsilised isikud</h5>
        {{ isik_formset.management_form }}
        {% for isik_form in isik_formset %}
            <details>
                <summary>Ava isiku vormi</summary>
                {{ isik_form.as_table }}
            </details>
        {% endfor %}
        <div class="row mt-2">
            <div class="col-md-10">
                <button class="btn btn-secondary btn-block" type="submit">Salvesta</button>
            </div>
        </div>
    </form>
{% endblock content %}